{% extends app.request.query.get('_hash') ? 'TworzeniewebBlogBundle::ajax.html.twig' :  'TworzeniewebBlogBundle::base.html.twig' %}

{% block content %}

<!-- begin .section-blog -->
    <div class="section section-blog section-last row">
            <h3 class="css3-gradient-2" id="blog">
                {% if tag %}
                <i class="icon-paper-clip"></i>Results for tag <big>{{ tag }}</a>
                {% else %}
                <i class="icon-paper-clip"></i><a href="{{ path('sonata_news_home') }}">Latest from my blog</a>
                {% endif %}
            </h3>

            {% for post in pager.getResults() %}

                <!-- begin .blog-item -->
                    <div class="section-blog-item row-fluid">
                            <div class="blog-item-thumbnail span4">
                                    <div class="blog-item-thumbnail-wrap">
                                            <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}" title="{{ post.title }}">
                                                <img src="{% path post.image, 'blog' %}" alt="{{ post.title }}" class="lazy"></a>
                                    </div>
                            </div>
                            <div class="blog-item-excerpt span8">
                                    <h4><a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a></h4>
                                    <div class="blog-item-meta"><span><i class="icon-calendar"></i><small>{{ post.publicationDateStart | format_date }}</small></span></div>	
                                    <p>{{ post.abstract }}</p>
                                    {% for tag in post.tags%}
                                        <a href="{{ url('sonata_news_tag', {'tag': tag.slug} ) }}" class="label">{{ tag.name }}</a>
                                        {% if not loop.last%}, {%endif%}
                                    {% endfor %}
                            </div>
                    </div>
            <!-- end .blog-item -->			

            {% endfor %}

                <div class="sonata-blog-post-pagination">
                    {% if pager.haveToPaginate() %}
                        {% if pager.page != pager.previouspage %}
                        <a href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}" title="{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}" class="btn btn-mini"><i class="icon icon-arrow-left"></i> {{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}</a>
                        {% endif %}

                        {% if pager.page != pager.nextpage %}
                            <a href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}" title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}"><i class="icon icon-arrow-right"></i> {{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}</a>
                        {% endif %}
                    {% endif %}
                </div>

    </div>
<!-- end .section-blog -->

{% endblock %}